<nav>
  <app-button
    [buttonText]="'Real-Time Model'"
    (btnClick)="toggleRealTimeModel()"
    [buttonWorkingMode]="WorkingModeEnum.RealTimeModel"
  ></app-button>
  <app-button
    [buttonText]="'+'"
    (btnClick)="handleZoomInClicked()"
  ></app-button>
  <app-button
    [buttonText]="'-'"
    (btnClick)="handleZoomOutClicked()"
  ></app-button>
  <app-button
    [buttonText]="'Change cords'"
    (btnClick)="toggleChangePositionForm()"
    [buttonWorkingMode]="WorkingModeEnum.ChangeCords"
  ></app-button>
  <app-button
    [buttonText]="'Polygon Creator'"
    (btnClick)="togglePolygonCreator()"
    [buttonWorkingMode]="WorkingModeEnum.PolygonCreator"
  ></app-button>
</nav>
