:root {
  --base-color: #ffffff;
  --primary-color: #dbe4e9;
  --accent-color: #f2f5f7;
  --error-color: #e66067;
  --box-shadow-color: #aaaaaa;
  --header-height: 50px;
  --base-border-radius: 5px;
  --base-border: 2px solid var(--primary-color);
  --error-border: 2px solid var(--error-color);
}
