.popup-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  height: fit-content;
  min-height: 250px;
  background-color: var(--base-color);
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  z-index: 9999;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  & .popup-title {
    margin-top: 0;
  }
}
