.popup-container {
  width: 500px;
  height: fit-content;
  background-color: var(--base-color);
  border-radius: var(--base-border-radius);
  border: var(--base-border);
  z-index: 9999;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

  & .popup-title {
    margin-top: 0;
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}
