.base-button {
  background-color: var(--accent-color);
  min-width: 140px;
  height: 30px;
  border: none;
  border-radius: var(--base-border-radius);
  font-weight: bold;
  cursor: pointer;

  &:active {
    background-color: var(--base-color);
  }

  &.active {
    background-color: var(--base-color);
  }
}
