<form
  class="position-form"
  [formGroup]="coordinatesForm"
  (ngSubmit)="onSubmit()"
>
  <div class="form-control">
    <label for="latitude">Latitude</label>
    <input
      type="text"
      id="latitude"
      placeholder="Enter latitude"
      formControlName="lat"
    />
    <app-error-message
      [errorMessageVisible]="
        latitude && latitude.invalid && latitude.touched ? true : false
      "
      errorMessageText="Latitude is invalid!"
    ></app-error-message>
  </div>
  <div class="form-control">
    <label for="longitude">Longitude</label>
    <input
      type="text"
      id="longitude"
      placeholder="Enter longitude"
      formControlName="lng"
    />
    <app-error-message
      [errorMessageVisible]="
        longitude && longitude.invalid && longitude.touched ? true : false
      "
      errorMessageText="Longitude is invalid!"
    ></app-error-message>
  </div>

  <div class="buttons-container">
    <app-button [buttonText]="'Submit'" [buttonType]="'submit'"></app-button>
    <app-button [buttonText]="'Cancel'" (btnClick)="closeForm()"></app-button>
  </div>
</form>
