<form
  *ngIf="showPositionForm"
  [formGroup]="coordinatesForm"
  (ngSubmit)="onSubmit()"
>
  <h2>Coordinates change</h2>
  <input
    type="text"
    id="latitude"
    placeholder="Latitude"
    formControlName="lat"
  />
  <input
    type="text"
    id="longitude"
    placeholder="Longitude"
    formControlName="lng"
  />
  <div class="buttons-container">
    <app-button [buttonText]="'Submit'"></app-button>
    <app-button [buttonText]="'Cancel'" (btnClick)="closeForm()"></app-button>
  </div>
</form>
